<%-include("../includes/head")%>
 <link rel="stylesheet" href="/css/product.css" />
 <script src="/js/script.js" defer></script>
</head>
<body>
    <%-include("../includes/navigation")%>
    
    <main class="main">
        <%if(products.length===0){%>
            <h2>No Products found in store</h2>
        <%}else{%>
            
            <h2>Products that admins can manage</h2>
             <div class="shop-products">
                <%products.forEach(product=>{%>
                    <div class="product-card">
                        <div class="product-image-container">
                            <div class="product-images"  data-image-id="<%=product._id%>" data-image-index-number="0" data-image-urls="<%=product.imageUrls%>">
                                <div class="image-switcher" data-image-id="<%=product._id%>">
                                    <button data-image-id="<%=product._id%>" type="button" class="prev-arrow"  disabled><i class='bx bx-left-arrow-alt prev-arrow icon' data-image-id="<%=product._id%>"></i></button>
                                    <button data-image-id="<%=product._id%>" type="button" class="next-arrow" ><i class='bx bx-right-arrow-alt next-arrow icon' data-image-id="<%=product._id%>"></i></button>
                                </div>
                               <%for(let i=0;i<product.imageUrls.length;i++){%>
                                    <%if(i===0){%>
                                        <img data-image-id="<%=product._id%>" alt="<%=product.name%>" src="<%=product.imageUrls[i]%>"  class="product-image active"/>
                                    <%}else{%>
                                        <img data-image-id="<%=product._id%>" alt="<%=product.name%>" src="<%=product.imageUrls[i]%>"   class="product-image" />
                                    <%}%>
                                <%}%>
                            </div>
                           
                           
                        </div>
                            <div class="product_info">
                                <h3 class="product_name"><%=product.name%></h3>
                                <%if(product.description.trim().length>100){%>
                                        <h4 class="product_description" ><%=product.description.substring(0,50)%>...<a href="#">read more</a></h4>
                                    <%}else{%>
                                        <h4 class="product_description" ><%=product.description%></h4>
                                    <%}%>
                                <h4 class="product_price">$<%=product.price%></h3>
            </div>
                        <div class="product_actions">
                            <button type="button" class="add_to_cart" value="<%=product._id%>">Add to cart</button>
                        </div>
                    </div>
                <%})%>
            </div>
    <%}%>
    </main>
    
   
</body>