<%-include("../includes/head")%>
    <link rel="stylesheet" href="/css/pages/product-details/product-details.css" />
    <script src="/js/pages/shop/shop.js" defer></script>
    <script src="/js/pages/shop/product.js" type="module" defer></script>
    <script src="/js/cart.js" defer></script>
    </head>

    <body>
        <%-include("../includes/navigation")%>
            <main class="main">
                <section class="container product_details">
                    <h2>Shop > Product ><span>
                            <%=product.name%>
                        </span>
                    </h2>
                    <section class="product_container">
                        <div class="product_images_container">
                            <%if(product.imageUrls.length>1){%>
                                <img src="<%=product.imageUrls[0]%>" alt="<%=product.name%>"
                                    class="main-image active" />
                                <div class="gallery">
                                    <%for(let index=0;index<product.imageUrls.length;index++){%>
                                        <%if(index===0){%>
                                            <img src="<%=product.imageUrls[index]%>" alt="<%=product.name%>"
                                                class="active" />
                                            <%}else{%>
                                                <img src="<%=product.imageUrls[index]%>" alt="<%=product.name%>" />
                                                <%}%>
                                                    <%}%>
                                </div>
                                <%} else{%>
                                    <img src="<%=product.imageUrls[0]%>" alt="<%=product.name%>" class="main-image" />
                                    <%}%>
                        </div>
                        <div class="product_details_container">
                            <h2 class="product_name">
                                <%=product.name%>
                            </h2>
                            <h5 class="product_price">$ <%=product.price.toLocaleString("en-US")%></h5>
                            <p class="product_description">
                                <%=product.description%>
                            </p>
                            <button type="button" class="add_to_cart" value="<%=product._id%>">Add to cart</button>
                        </div>
                    </section>
                </section>
            </main>

    </body>