<%-include("../includes/head")%>
    <link rel="stylesheet" href="/css/pages/product-details/product-details.css" />
    <link rel="stylesheet" href="/css/pages/cart/cart.css" />
    <script src="/js/pages/shop/shop.js" defer></script>
    <script src="/js/pages/product-details/product-details.js" type="module" defer></script>
    <script src="/js/cart.js" defer></script>
    </head>

    <body>
        <div><%-include("../includes/navigation")%>
                <main class="main">
                    <section class="page-wrapper product-details">
                        <div class="breadcrumb">
                            <h2>Shop > Product > </h2>
                            <h2 class="product-name" title="<%=product.name%>">
                                <%=product.name%>
                            </h2>
                        </div>
                        <section class="product-details__container">
                            <div class="product-image__container <%=product.imageUrls.length===1?" single":"multiple"%>">
                                <%if(product.imageUrls.length>1){%>
                                    <img src="<%=product.imageUrls[0]%>" alt="<%=product.name%>"
                                        class="main-image active" />
                                    <div class="gallery <%=product.imageUrls.length===2?"two":product.imageUrls.length===3?"three":product.imageUrls.length===4?"four":""%>">
                                        <%for(let index=0;index<product.imageUrls.length;index++){%>
                                            <%if(index===0){%>
                                                <img src="<%=product.imageUrls[index]%>" alt="<%=product.name%>"
                                                    class="gallery-images active" />
                                                <%}else{%>
                                                    <img src="<%=product.imageUrls[index]%>" alt="<%=product.name%>" class="gallery-images"/>
                                                    <%}%>
                                                        <%}%>
                                    </div>
                                    <%} else{%>
                                        <img src="<%=product.imageUrls[0]%>" alt="<%=product.name%>"
                                            class="main-image" />
                                        <%}%>
                            </div>
                            <div class="product_details_container">
                                <h2 class="product_name" title="<%=product.name%>">
                                    <%=product.name%>
                                </h2>
                                <h5 class="product_price" title="$ <%=product.price.toLocaleString("en-US")%>">$ <%=product.price.toLocaleString("en-US")%></h5>
                                <p class="product_description">
                                    <%=product.description%>
                                </p>
                                <div class="product-quantity">
                                    <form action="" class="decrease">
                                        <button class="control" type="submit"><i class='bx bx-minus'></i></button>
                                    </form>
                                    <h4 class="quantity">1</h4>
                                    <form action="" class="increase">
                                        <button class="control" type="submit"><i class='bx bx-plus'></i></button>
                                    </form>
                                </div>
                                <button type="button" class="add-to-cart__btn" value="<%=product._id%>">Add to cart</button>
                            </div>
                        </section>
                    </section>
                </main>

    </body>